html{
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.sponsor-container{
    display:flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100px;
    margin: 50px 190px ;
    min-width: 0%;
}

h3{
    font-size: 100px;
    margin: 0px;
    font-weight: bold;
}

p{
    margin-top: 4px;
    font-size: 30px;
    color: #828394;
}

.stats{
    width: 400px;
}
.McGill{
    height: 200;
    width: 600;
    margin-right: 3.5px;
    margin-left: 5px;
}
.Amity{
    height: 400;
    width: 600;
    margin-right: 3.5px;

}
.Houston{
    height: 400;
    width: 600;
    margin-right: 3.5px;

}
.Plymouth{
    height: 600;
    width: 800;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('/assets/bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
nav ul{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-right: 60px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}