*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: crimson;
}
span{
    color: #05696b;
}
.container{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('/assets/bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
nav ul{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-right: 60px;
    list-style: none;
    position: fixed;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: crimson;
    transition: 1s ease-in;
}

/* Aside customs */
aside {
    z-index: 1;
}

aside::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.aside-container {
    padding-left: 200px;
    font-size: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 130px;
    color: #fff;
}

aside h1 {
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

aside .btn {
    display: inline-block;
    padding: 16px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

aside .btn:hover {
    color: white;
    background-color: crimson;
    transition: 1s ease-in-out;
}

aside h1:nth-child(1) {
    animation-delay: 1s;
}

aside h1:nth-child(2) {
    animation-delay: 2.5s;
}

aside h1:nth-child(3) {
    animation-delay: 3s;
}

aside h1:nth-child(1) span {
    animation-delay: .5s;
}

aside h1:nth-child(2) span {
    animation-delay: 1.5s;
}

aside h1:nth-child(3) span {
    animation-delay: 2.5s;
}

aside h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

/* End of Aside */

/* ================================= ABOUT US============================================== */
.about{
    height: 100vh;
    background: #153c4e;
}

.title{
    text-align: center;
}
.text-header{
    padding: 20px 150px 0;
}
.text-container{
    flex-wrap: wrap;
}
.text-container p{
    padding: 40px;
    font-size: 18px;
    color: #fff;
    justify-content: center;
    padding-bottom: 20px;
}
.about .btn{
    margin: auto;
    font-size: 18px;
    color: #ffffff;
    background: #05696b;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    border: 1px solid;
    text-decoration: none;
    color: black;
    width: 200px;
    border-radius: 30px;
    margin-bottom: 40px;
}
.about .btn:hover{
    cursor: pointer;
}
.about .link{
    font-size: 21px;
    padding: 0 55px;
}
.vision-container{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 20px;
}
.contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.vision{
    display: grid;
    height: auto;
    padding: 0px 20px 10px;
    width: 350px;
    margin:0 90px ;
    background-color: #509c80;
    border-radius: 8px ;
}
.vision img{
    width: 100px;
}
.vision h1{
    margin: 10px;
}
.vision .vision-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.vision .vision-cont .txt{
    font-size: 16px;
}
/* ===================================END OF ABOUT===================== */

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.sponsor-container {
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100px;
    margin: 50px 190px;
    min-width: 0%;
}

h3 {
    font-size: 100px;
    margin: 0px;
    font-weight: bold;
}

p {
    margin-top: 4px;
    font-size: 30px;
    color: #828394;
}

.stats {
    width: 400px;
}

.McGill {
    height: 200;
    width: 50%;
    margin-right: 3.5px;
    margin-left: 5px;
}

.Amity {
    height: 400;
    width: 600;
    margin-right: 3.5px;

}

.Houston {
    height: 400;
    width: 600;
    margin-right: 3.5px;

}

.Plymouth {
    height: 600;
    width: 800;
}