*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: crimson;
}
span{
    color: #05696b;
}
.container{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('/assets/bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section{
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
nav ul{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-right: 60px;
    list-style: none;
    position: fixed;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: crimson;
    transition: 1s ease-in;
}

/* Aside customs */
aside {
    z-index: 1;
}

aside::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.aside-container {
    padding-left: 200px;
    font-size: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 130px;
    color: #fff;
}

aside h1 {
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

aside .btn {
    display: inline-block;
    padding: 16px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

aside .btn:hover {
    color: white;
    background-color: crimson;
    transition: 1s ease-in-out;
}

aside h1:nth-child(1) {
    animation-delay: 1s;
}

aside h1:nth-child(2) {
    animation-delay: 2.5s;
}

aside h1:nth-child(3) {
    animation-delay: 3s;
}

aside h1:nth-child(1) span {
    animation-delay: .5s;
}

aside h1:nth-child(2) span {
    animation-delay: 1.5s;
}

aside h1:nth-child(3) span {
    animation-delay: 2.5s;
}

aside h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

/* End of Aside */

/* ================================= ABOUT US============================================== */
.about{
    height: 100vh;
    background: #153c4e;
}

.title{
    text-align: center;
}
.text-header{
    padding: 20px 150px 0;
}
.text-container{
    flex-wrap: wrap;
}
.text-container p{
    padding: 40px;
    font-size: 18px;
    color: #fff;
    justify-content: center;
    padding-bottom: 20px;
}
.about .btn{
    margin: auto;
    font-size: 18px;
    color: #ffffff;
    background: #05696b;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    border: 1px solid;
    text-decoration: none;
    color: black;
    width: 200px;
    border-radius: 30px;
    margin-bottom: 40px;
}
.about .btn:hover{
    cursor: pointer;
}
.about .link{
    font-size: 21px;
    padding: 0 55px;
}
.vision-container{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 20px;
}
.contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.vision{
    display: grid;
    height: auto;
    padding: 0px 20px 10px;
    width: 350px;
    margin:0 90px ;
    background-color: #509c80;
    border-radius: 8px ;
}
.vision img{
    width: 100px;
}
.vision h1{
    margin: 10px;
}
.vision .vision-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.vision .vision-cont .txt{
    font-size: 16px;
}
/* ===================================END OF ABOUT===================== */

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.sponsor-container {
    max-width: 1200px;
    margin: 0 auto;
}
.sponsor-container .row{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    margin: 30px 0px;
    justify-content: space-around;
    /* flex-basis: 100px; */
    
}
.sponsor-container .stats{
    padding: 10px 5px;
    flex-direction:row;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sponsor-container .stats h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.sponsor-container .stats p {
    font-size: 22px;
    color: #828394;
}
.sponsor-container .row.images{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    flex-wrap: wrap;
    transition:all .5s ease-in-out;
}
.sponsor-container .row .img_block{
    width: 200px;
    height: 120px;
    padding: 10px;
    margin: 10px auto;
}
.sponsor-container .row .img_block img{
    width: 100%;
    height: 100%;
}
/* .McGill {
    height: 200;
    width: 50%;
    margin-right: 3.5px;
    margin-left: 5px;
} */
/* 
.Amity {
    height: 400;
    width: 600;
    margin-right: 3.5px;

}

.Houston {
    height: 400;
    width: 600;
    margin-right: 3.5px;

}

.Plymouth {
    height: 600;
    width: 800;
} */

/* ====contact section */
.contact_page{
     background: #30363d;
     /* overflow-x: hidden; */
}
.contact_page .container_contact{
    max-width: 1200px;
    margin: auto;
}
.contact_page .container_contact .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
    padding: 20px 15px;
}
.contact_page .container_contact .row.contact_header h3{
    font-size: 2rem;
    color: #fefefe;
    padding: 20px 0;

}
.contact_page .container_contact .row.contact_details{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}
.contact_page .container_contact .card_item{
    display: flex;
    width: 100%;
    padding: 10px;
    
}
.contact_page .container_contact .card_item .card_inner{
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background-color: #212121;
    border: 1px solid #828394;
    box-shadow: -10px 10px 10px #2b2b2b;
    cursor: pointer;

}
.container_contact .card_item .card_inner h3{
    font-size: 20px;
    color: #fefefe;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.container_contact .card_item .card_inner a{
    color: #fefefe;
    font-size: 16px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.container_contact .card_item .card_inner a:hover{
    text-decoration: underline;
}
.container_contact .contact_form{
    width: 100%;
}
.container_contact .contact_form .form_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container_contact .contact_form .w-50{
    width: 45%;
    padding:0 20px;
    
}
.container_contact .contact_form .w-50 .form-group{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    transition:all .4s ease-in-out;
}
.container_contact .contact_form .w-50 .form-group .form-input{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    display: block;
    background: #212121;
    color: #fefefe;
}
.contact_form .w-50 .form-group textarea.form-input{
    resize: none;
    min-height:210px;
    padding-top: 15px !important;
}
.contact_form .w-50 .form-group .form-input.btn{
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: all .5s ease-in-out;
    z-index: 10;

}
.contact_form .w-50 .form-group .form-input.btn::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height:0%;
    width: 100%;
    background: crimson;
    transition: height .5s ease-in-out;
    z-index: -1;
    border-radius: inherit;
}
.contact_form .w-50 .form-group .form-input.btn:hover{
    color: #fff;
    z-index: 10;
} 
.contact_form .w-50 .form-group .form-input.btn:hover::before{
    height: 100%;
}

/* media query responsivenesss */
/* mobile */
@media screen and (max-width:628px) {
    .container_contact .contact_form .w-50{
        width: 100%;
        padding: 0;
    }
}
/* pad */
@media screen and ((min-width:629px) and (max-width:972px)) {
    .container_contact .contact_form .w-50{
        padding: 0;
        width: 50%;
    }
}